.content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.center{
    background-color: rgb(37, 34, 34);
    width: 60%;
    box-shadow: 3px 3px 8px rgb(255, 245, 245);
    color: white;
    padding: 10px;
}

.left-side{
    background-color: rgb(37, 34, 34);;
    width: 20%;
}

.right-side{
    background-color: rgb(37, 34, 34);;
    width: 20%;
    box-shadow: 3px 3px 8px rgb(255, 245, 245);
}

.main{
    background-color: rgb(37, 34, 34);;
    width: 100%;
    height: 100%;
}
.navig{
    width: 100%;
    background-color: rgb(55, 59, 71);
    bottom: 0;
    left:0;
    z-index: 1000;
    height: 4%;
    position: fixed;
}