<main class="main">
  <div class="content">
    <div class="left-side">
      <div class="profile">
        <div class="profile-info">
        <img src="profile.jpg" alt="Profile-pic" class="profile-pict">
        <p class="welcome"><b>{{username}}</b></p>
        </div>
        <button type="button" (click)="onLogout()">Logout</button>
      </div>
    </div>
    <div class="center">
      <app-welcome></app-welcome>
    </div>
    <div class="right-side">
      asdasd
    </div>

  </div>
  <div class="navig">
    <button mat-mini-fab> 
      <mat-icon>home</mat-icon>
    </button>
  </div>
</main>